<button>
  <slot />
</button>

<style>
  button {
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: 46px;
    cursor: pointer;
    padding: var(--md) var(--xl);

    white-space: nowrap; /* Evita que el texto haga varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra los "..." cuando el texto se corta */

    &:active {
      transform: scale(0.95);
    }
  }
</style>
