---
import type { HTMLAttributes } from "astro/types";
import { NETWORKS } from "./networks";
import GoToExternalPage from "../../hyperlinks/GoToExternalPage/GoToExternalPage.astro";

interface Props extends HTMLAttributes<"nav"> {
  cls?: string;
}

const { cls, ...extraProps } = Astro.props;
---

<nav class:list={["network", cls]} {...extraProps}>
  {
    NETWORKS.map(({ url, icon, display }) => (
      <GoToExternalPage title={display} href={url}>
        <img src={icon.src} alt={display} />
      </GoToExternalPage>
    ))
  }
</nav>

<style>
  .network {
    display: flex;
    align-items: center;
    gap: var(--md);

    a {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
</style>
