---
import type { HTMLAttributes } from "astro/types";
import GoTo from "../../hyperlinks/GoTo/GoTo.astro";
import { NETWORKS } from "./networks";

interface Props extends HTMLAttributes<"nav"> {
  cls: string;
}

const { cls, ...extraProps } = Astro.props;
---

<nav class:list={[cls]} {...extraProps}>
  {
    NETWORKS.map(({ url, icon, display }) => (
      <GoTo title={display} href={url}>
        <img src={icon.src} alt={display} />
      </GoTo>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    align-items: center;

    a {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
</style>
