<section id="weare" class="flex flex-col justify-center h-[795px] mt-[var(--xxl)] relative xl:mb-[var(--xxl)]" style={{marginBottom: "calc(var(--xxl) * 3)"}}>
  <div class="flex flex-col xl:flex-row justify-center">
    <!-- LG o menor -->
    <div class="flex xl:hidden flex-col justify-center w-full text-start">
      <div class="weare-content-1 transition-all duration-500">
        <span class="relative right-[600px] weare-to-right-1 font-semibold text-[116px] leading-[0px] transition-all duration-500">ESTAMOS</span></span><br>
        <span class="relative top-[300px] weare-to-top-1 font-medium text-[66px] transition-all duration-500 text-[var(--primary)]">Y SOMOS</span></span>
      </div>
    </div>
    <div class="flex xl:hidden flex-col justify-center w-full text-center">
      <div class="flex flex-row w-full justify-center">
        <div style="background-image: url('/src/views/aboutus/WeAre/assets/1.png'); background-position: center;" class="w-[650px] h-[650px] rounded-[38px] mt-[var(--xl)]"></div>
      </div>
    </div> 

    <!-- XL -->
    <div class="hidden xl:flex flex-col justify-center w-full text-start pr-24">
      <div class="weare-content-1 absolute transition-all duration-500">
        <span class="relative right-[600px] weare-to-right-1 font-semibold text-[116px] leading-[0px] transition-all duration-500">ESTAMOS</span></span><br>
        <span class="relative top-[300px] weare-to-top-1 font-medium text-[66px] transition-all duration-500 text-[var(--primary)]">Y SOMOS</span></span>
      </div>
      <div class="weare-content-2 flex flex-col gap-5 transition-all duration-500">
        <span class="relative right-[600px] weare-to-right-2 font-semibold text-[41px] text-[var(--primary)] leading-[0px] transition-all duration-500">ESTAMOS Y SOMOS</span></span><br>
        <p class="relative top-[300px] weare-to-top-2 font-normal text-[30px] text-justify transition-all duration-500">
          Un equipo de trabajo, construido por partes humanas enfocadas en el desarrollo, 
          conociendo el negocio mejor que nadie, avanzando con un equipo de expertos hacia los desafíos de cada proyecto.
        </p>
      </div>
    </div>
    <div class="hidden xl:flex flex-col justify-center w-full text-center pl-24">
      <div style="background-image: url('/src/views/aboutus/WeAre/assets/1.png'); background-position: center;" class="w-[650px] h-[650px] rounded-[38px]"></div>
    </div>
  </div>
</section>

<style>
  .sticky-component {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
  }

  .offset-position {
    position: relative;
    top: calc(var(--xxl) * 2);
  }

  @keyframes weare-to-right {
    0% {
      right: 600px;
    }
    100% {
      right: 0px;
    }
  }

  @keyframes weare-to-top {
    0% {
      top: 300px;
    }
    100% {
      top: 0px;
    }
  }
</style>

<script>
  const whyWorkWithUs = document.querySelector("#whyworkwithus")!;
  const weAre = document.querySelector("#weare")!;
  const leadership = document.querySelector("#leadership")!;
  const xl = (document.querySelector("#xl") as HTMLElement)!

  const whyWorkWithUsObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(entry => {
        if (xl.style.display !== "hidden") {
          if (entry.isIntersecting) {
            weAre.classList.remove("sticky-component");
            weAre.classList.remove("offset-position");
          }
        }
      });
    }, 
    { threshold: 0.01 }
  );
  whyWorkWithUsObserver.observe(whyWorkWithUs);

  const weAreObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(entry => {
        if (xl.style.display !== "hidden") {
          if (entry.isIntersecting) {
            weAre.classList.remove("offset-position");
            if (!("sticky-component" in weAre.classList)) {
              weAre.classList.add("sticky-component");
            }
          }
        }
      });
    }, 
    { threshold: 1 }
  );
  weAreObserver.observe(weAre);

  let leadershipEntries: Array<IntersectionObserverEntry> = []
  const leadershipObserver = new IntersectionObserver(
    (entries) => {
      leadershipEntries = entries
      entries.forEach(entry => {
        if (xl.style.display !== "hidden") {
          if (entry.isIntersecting) {
            weAre.classList.remove("sticky-component");
            if (!("offset-position" in weAre.classList)) {
              weAre.classList.add("offset-position");
            }
          } else {
            weAre.classList.remove("offset-position");
          }
        }
      });
    }, 
    { threshold: 0.01 }
  );
  leadershipObserver.observe(leadership);

  document.addEventListener("DOMContentLoaded", () => {
    if (xl.style.display !== "hidden") {
      if (leadershipEntries[0].isIntersecting) {
        weAre.classList.add("offset-position");
      }
    }
  })

  const weare_content_1 = document.querySelectorAll(".weare-content-1")!
  const weare_content_2 = document.querySelectorAll(".weare-content-2")!
  const weare_to_right_1 = document.querySelectorAll(".weare-to-right-1")!
  const weare_to_top_1 = document.querySelectorAll(".weare-to-top-1")!
  const weare_to_right_2 = document.querySelectorAll(".weare-to-right-2")!
  const weare_to_top_2 = document.querySelectorAll(".weare-to-top-2")!

  function doMove() {
    const result = whyWorkWithUs.getBoundingClientRect().y + leadership.getBoundingClientRect().y
    if (result > 0) {
      weare_content_2.forEach(element => {
        (element as HTMLElement).style.opacity = "0"
      });
      weare_to_right_2.forEach(element => {
        (element as HTMLElement).style.right = "600px"
      });
      weare_to_top_2.forEach(element => {
        (element as HTMLElement).style.top = "300px"
      });

      weare_content_1.forEach(element => {
        (element as HTMLElement).style.opacity = "1"
      });
      weare_to_right_1.forEach(element => {
        (element as HTMLElement).style.right = "0px"
      });
      weare_to_top_1.forEach(element => {
        (element as HTMLElement).style.top = "0px"
      });
    } else {
      weare_content_1.forEach(element => {
        (element as HTMLElement).style.opacity = "0"
      });
      weare_to_right_1.forEach(element => {
        (element as HTMLElement).style.right = "600px"
      });
      weare_to_top_1.forEach(element => {
        (element as HTMLElement).style.top = "300px"
      });

      weare_content_2.forEach(element => {
        (element as HTMLElement).style.opacity = "1"
      });
      weare_to_right_2.forEach(element => {
        (element as HTMLElement).style.right = "0px"
      });
      weare_to_top_2.forEach(element => {
        (element as HTMLElement).style.top = "0px"
      });
    }
  }

  document.addEventListener("scroll", doMove)
  document.addEventListener("DOMContentLoaded", doMove)
</script>
