<form>
  <label>
    Nombre:
    <input type="text" />
  </label>

  <label>
    Email:
    <input type="email" />
  </label>

  <label for="tel">
    Número:
    <select>
      <option value="+57">+57</option>
      <option value="+34">+34</option>
    </select>
    <input id="tel" type="number" />
  </label>

  <label>
    Servicio:
    <select name="" id="">
      <option value="1">opt1</option>
      <option value="2">opt2</option>
    </select>
  </label>

  <label>
    Mensaje:
    <textarea></textarea>
  </label>
</form>

<style>
  form {
    padding: var(--xl);
  }
</style>
