---
import foto from "./assets/1.png";
---

<section
  id="connecting"
  class="flex flex-col justify-center h-[795px] p-[var(--xs)] my-[var(--xxl)] overflow-hidden"
>
  <!-- default  -->
  <div
    id="connecting-default"
    class="sm:hidden md:hidden lg:hidden xl:hidden flex flex-col gap-[var(--xxl)]"
  >
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center w-fit">
        <span data-aos="fade-right" class="font-bold text-[59px] leading-[41px]"
          >Conectando</span
        >
        <span
          data-aos="fade-up"
          class="font-bold text-[32px] leading-[41px] text-right text-[var(--primary)]"
          >Desde 2024</span
        >
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div
        data-aos="fade-left"
        class="flex flex-row justify-center w-[250px] h-[250px] rounded-[10px]"
        style={{
          backgroundImage: `url("/src/views/aboutus/Connecting/assets/1.png")`,
          backgroundSize: "cover",
          backgroundPosition: "center",
        }}
      >
      </div>
    </div>
  </div>

  <!-- sm  -->
  <div
    id="connecting-sm"
    class="hidden sm:flex md:hidden flex-col gap-[var(--xxl)]"
  >
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center w-fit">
        <span data-aos="fade-right" class="font-bold text-[73px] leading-[60px]"
          >Conectando</span
        >
        <span
          data-aos="fade-up"
          class="font-bold text-[40px] leading-[60px] text-right text-[var(--primary)]"
          >Desde 2024</span
        >
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div
        data-aos="fade-left"
        class="flex flex-row justify-center w-[400px] h-[400px] rounded-[10px]"
        style={{
          backgroundImage: `url("/src/views/aboutus/Connecting/assets/1.png")`,
          backgroundSize: "cover",
          backgroundPosition: "center",
        }}
      >
      </div>
    </div>
  </div>

  <!-- md  -->
  <div
    id="connecting-md"
    class="hidden md:flex lg:hidden flex-col gap-[var(--xxl)]"
  >
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center w-fit">
        <span data-aos="fade-right" class="font-bold text-[88px] leading-[80px]"
          >Conectando</span
        >
        <span
          data-aos="fade-up"
          class="font-bold text-[49px] leading-[79px] text-right text-[var(--primary)]"
          >Desde 2024</span
        >
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div
        data-aos="fade-left"
        class="flex flex-row justify-center w-[550px] h-[550px] rounded-[10px]"
        style={{
          backgroundImage: `url("/src/views/aboutus/Connecting/assets/1.png")`,
          backgroundSize: "cover",
          backgroundPosition: "center",
        }}
      >
      </div>
    </div>
  </div>

  <!-- lg  -->
  <div
    id="connecting-lg"
    class="hidden lg:flex xl:hidden flex-row justify-between gap-[var(--xxl)]"
  >
    <div class="flex flex-col justify-center">
      <div class="flex flex-col w-fit">
        <span
          data-aos="fade-right"
          class="font-bold text-[102px] leading-[100px]">Conectando</span
        >
        <span
          data-aos="fade-up"
          class="text-right font-bold text-[58px] leading-[100px] text-[var(--primary)]"
          >Desde 2024</span
        >
      </div>
    </div>
    <div
      data-aos="fade-left"
      class="flex flex-row justify-center w-[450px] h-[400px] rounded-[10px]"
      style={{
        backgroundImage: `url("/src/views/aboutus/Connecting/assets/1.png")`,
        backgroundSize: "cover",
        backgroundPosition: "center",
      }}
    >
    </div>
  </div>

  <!-- xl  -->
  <div
    id="connecting-xl"
    class="hidden xl:flex flex-row justify-between gap-[var(--xxl)]"
  >
    <div class="flex flex-col justify-center">
      <div class="flex flex-col w-fit">
        <span
          data-aos="fade-right"
          class="font-bold text-[116px] leading-[119px]">Conectando</span
        >
        <span
          data-aos="fade-up"
          class="text-right font-bold text-[66px] leading-[119px] text-[var(--primary)]"
          >Desde 2024</span
        >
      </div>
    </div>
    <div
      data-aos="fade-left"
      class="flex flex-row justify-center w-[650px] h-[600px] rounded-[38px]"
      style={{
        backgroundImage: `url(${foto.src})`,
        backgroundSize: "cover",
        backgroundPosition: "center",
      }}
    >
    </div>
  </div>
</section>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({
    duration: 1000,
    once: false,
  });
</script>
