---
import Logo from "../../../logos/Logo/Logo.astro";
import Fancy from "../../../spans/Fancy/Fancy.astro";
---

<div class="quote">
  <h1><Logo cls="logo" />Contáctanos</h1>
  <h2>
    <span class="sub_quote"
      >Estás a un paso de lograr crecimiento Porcentuales Reales.</span
    ><br /><Fancy>¡Garantizamos tu logro!</Fancy>
  </h2>
</div>

<style>
  .quote {
    padding: var(--xl);

    h1 {
      font-size: 89px;
      line-height: 119px;
      display: flex;
      align-items: center;

      .logo {
        display: none;
      }

      @media (max-width: 768px) {
        font-size: 19px;
        line-height: 29px;
        margin-bottom: var(--xl);

        .logo {
          display: initial;
        }
      }
    }

    h2 {
      font-size: 32px;
      line-height: 48px;

      @media (max-width: 768px) {
        font-size: 21px;
        line-height: 28px;
      }
    }
  }
</style>
