:root {
  --bg-main: #000000; /* Fondo Principal */
  --bg-surf: #000000; /* Superficie */
  --primary: #3ab54b; /* Primario */
  --secondary: #3ab54b; /* Secundario */
  --titles: #fff; /* Texto Principal */
  --paras: #fff; /* Texto Secundario */
  --hl: #ffbc42; /* Resaltado */
  --border: #cccccc; /* Borde */
  --accent: #dd4ea5; /* Acento */
  --hover: #3c91e6; /* Hover */

  /* Common */
  --blue: #0066cc;
  --red: #cd231d;
  --green: #8c9900;
  --grey: grey;
  --soft-grey: #9d9d9d;
  --black: #24242c;
  --white: whitesmoke;
}
