---
import Btn from "../../../buttons/Btn/Btn.astro";
---

<section
  data-aos="fade"
  id="enterprises"
  class="flex p-[var(--xs)] my-[var(--xxl)] h-[795px]"
>
  <!-- default -->
  <div
    id="enterprises-default"
    class="sm:hidden md:hidden lg:hidden xl:hidden flex flex-row justify-center w-full"
  >
    <div class="flex flex-col justify-center gap-[var(--lg)]">
      <span class="font-semibold text-[27px] leading-[40px] text-center"
        ><span class="text-[var(--primary)]">Empresas</span> que Confían en <span
          class="text-[var(--primary)]">Nosotros</span
        ></span
      >
      <span
        class="font-normal text-[18px] leading-[40px] text-center uppercase enterprises-fade"
        >default</span
      >
      <div class="flex flex-row justify-center">
        <a
          href="https://calendly.com/krekeet/consultoria-con-krekeet"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Agenda tu cita"><Btn>Más detalles</Btn></a
        >
      </div>
    </div>
  </div>
  <!-- sm -->
  <div
    id="enterprises-sm"
    class="hidden sm:flex md:hidden flex-row justify-center w-full"
  >
    <div class="flex flex-col justify-center gap-[var(--lg)]">
      <span class="font-semibold text-[35px] leading-[49px] text-center"
        ><span class="text-[var(--primary)]">Empresas</span> que Confían en <span
          class="text-[var(--primary)]">Nosotros</span
        ></span
      >
      <span
        class="font-normal text-[28px] leading-[49px] text-center uppercase enterprises-fade"
        >sm</span
      >
      <div class="flex flex-row justify-center mt-[var(--sm)]">
        <a
          href="https://calendly.com/krekeet/consultoria-con-krekeet"
          target="_blank"
          rel="noopener noreferrer"><Btn>Más detalles</Btn></a
        >
      </div>
    </div>
  </div>
  <!-- md -->
  <div
    id="enterprises-md"
    class="hidden md:flex lg:hidden flex-row justify-center w-full"
  >
    <div class="flex flex-col justify-center gap-[var(--lg)]">
      <span class="font-semibold text-[43px] leading-[58px] text-center"
        ><span class="text-[var(--primary)]">Empresas</span> que Confían en <span
          class="text-[var(--primary)]">Nosotros</span
        ></span
      >
      <span
        class="font-normal text-[39px] leading-[58px] text-center uppercase enterprises-fade"
        >md</span
      >
      <div class="flex flex-row justify-center mt-[var(--md)]">
        <a
          href="https://calendly.com/krekeet/consultoria-con-krekeet"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Agenda tu cita"
          aria-label="Agenda tu cita"><Btn>Más detalles</Btn></a
        >
      </div>
    </div>
  </div>
  <!-- lg -->
  <div
    id="enterprises-lg"
    class="hidden lg:flex xl:hidden flex-row justify-center w-full"
  >
    <div class="flex flex-col justify-center gap-[var(--lg)]">
      <span class="font-semibold text-[51px] leading-[67px] text-center"
        ><span class="text-[var(--primary)]">Empresas</span> que Confían en <span
          class="text-[var(--primary)]">Nosotros</span
        ></span
      >
      <span
        class="font-normal text-[50px] leading-[67px] text-center uppercase enterprises-fade"
        >lg</span
      >
      <div class="flex flex-row justify-center mt-[var(--lg)]">
        <a
          href="https://calendly.com/krekeet/consultoria-con-krekeet"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Agenda tu cita"><Btn>Más detalles</Btn></a
        >
      </div>
    </div>
  </div>
  <!-- xl -->
  <div
    id="enterprises-xl"
    class="hidden xl:flex flex-row justify-center w-full"
  >
    <div class="flex flex-col justify-center gap-[var(--lg)]">
      <span class="font-semibold text-[60px] leading-[76px] text-center"
        ><span class="text-[var(--primary)]">Empresas</span> que Confían en <span
          class="text-[var(--primary)]">Nosotros</span
        ></span
      >
      <span
        class="font-normal text-[60px] leading-[76px] text-center uppercase enterprises-fade"
        >xl</span
      >
      <div class="flex flex-row justify-center mt-[var(--xl)]">
        <a
          href="https://calendly.com/krekeet/consultoria-con-krekeet"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Agenda tu cita"><Btn>Más detalles</Btn></a
        >
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes enterprise-fade-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .enterprises-fade {
    animation: enterprise-fade-out 3s forwards infinite;
  }
</style>

<script>
  // Animaciones
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({
    duration: 1000,
    once: false,
  });

  // Cambiar la empresa
  import { EnterprisesData } from "./data";

  let currentText = 0;
  const textElements = document.querySelectorAll(".enterprises-fade");
  if (textElements) {
    textElements.forEach((textElement) => {
      // Inicializar el texto
      textElement.textContent = EnterprisesData[currentText];

      // Escuchar el evento `animationiteration`
      textElement.addEventListener("animationiteration", () => {
        // Actualizar el texto al comienzo de cada iteración de la animación con opacidad en 0
        currentText = (currentText + 1) % EnterprisesData.length;
        textElement.textContent = EnterprisesData[currentText];
      });
    });
  }
</script>
