---
import Layout from "../../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <main>
    <img src="/squirrel.png" alt="Ardilla" />
  </main>
</Layout>

<style>
  main {
    img {
      width: 100%;
      max-height: 795px;
      object-fit: cover;
    }
  }
</style>
