---
import Logo from "../../../logos/Logo/Logo.astro";
import Fancy from "../../../spans/Fancy/Fancy.astro";
import SubTitleSilider from "./SubTitleSilider.astro";
---

<div class="quotes">
  <Logo cls="logo" />
  <h1>
    Trazamos el <Fancy>Camino</Fancy>
  </h1>
  <SubTitleSilider id="subtitle_slider" />
</div>

<style>
  .quotes {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--xl);
    max-width: 695px;
    z-index: 10;

    display: grid;
    gap: var(--xl);

    @media (max-width: 768px) {
      max-width: 306px;
      top: 40%;
    }

    .logo {
      @media (max-width: 768px) {
        justify-self: center;
        margin-bottom: 200px;
      }
    }

    h1 {
      font-size: 116px;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 41px;
      }
    }
  }
</style>
