<div class="wrapper__slider">
  <section
    id="slider"
    class="splide slider"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track track">
      <ul class="splide__list">
        <li class="splide__slide">
          <video
            autoplay
            loop
            muted
            src="https://res.cloudinary.com/dvmsllkkg/video/upload/v1730864878/krekeet/tk8k29vzigixxwmamcah.mp4"
          ></video>
        </li>
        <li class="splide__slide">
          <video
            autoplay
            loop
            muted
            src="https://res.cloudinary.com/dvmsllkkg/video/upload/v1730759652/krekeet/bmuljzcvs7p4z5txjxeo.mp4"
          ></video>
        </li>
        <li class="splide__slide">
          <video
            autoplay
            loop
            muted
            src="https://res.cloudinary.com/dvmsllkkg/video/upload/v1730759648/krekeet/bzvmispmrwxvf3jzlyuh.mp4"
          ></video>
        </li>
        <li class="splide__slide">
          <video
            autoplay
            loop
            muted
            src="https://res.cloudinary.com/dvmsllkkg/video/upload/v1730759650/krekeet/fh4srybax9hvkhe0i6s3.mp4"
          ></video>
        </li>
        <li class="splide__slide"></li>
      </ul>
    </div>
  </section>
</div>

<script>
  import "@splidejs/splide/css/core";
  import Splide from "@splidejs/splide";

  document.addEventListener("DOMContentLoaded", () => {
    const splide = new Splide(".splide", {
      arrows: false,
      pagination: false,
      wheel: true,
      wheelSleep: 1000,
      releaseWheel: true,
      speed: 1500,
      drag: true,
    });

    splide.mount();

    const videos = document.querySelectorAll("video");
    videos.forEach((video) => {
      video.autoplay = true;
      video.loop = true;
      video.muted = true;
      video.playsInline = true;
    });

    const removeSlider = () => {
      const slider = document.querySelector("#slider") as HTMLElement;
      slider.classList.add("fade-out");

      slider.addEventListener("animationend", () => {
        slider.remove();
      });
    };

    const animationFakeNav = () => {
      const fakeNave = document.querySelector("#fakeNav") as HTMLElement;
      fakeNave.style.transform = "translateY(0)";
      fakeNave.style.opacity = "1";
    };

    splide.on("move", (index) => {
      if (index !== 4) return;
      removeSlider();
      animationFakeNav();
    });

    const rmSlider = () => {
      window.removeEventListener("scroll", rmSlider);
      removeSlider();
      animationFakeNav();
    };

    window.addEventListener("scroll", rmSlider);
  });
</script>

<style>
  .wrapper__slider {
    position: absolute;
    top: 0;
    left: 0;

    .track {
      border-radius: var(--br);
      @media (max-width: 1150px) {
        border-radius: 0;
      }
    }

    video {
      height: calc(100vh - 79px);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-400px);
    }
  }

  .fade-out {
    animation: fadeOut 1s forwards; /* 0.5 segundos para la animación */
  }
</style>
