---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  cls?: string;
}

const { cls } = Astro.props;
---

<span class:list={[cls]}>
  <slot />
</span>

<style>
  span {
    color: var(--primary);
    text-transform: capitalize;
  }
</style>
