---
import Fancy from "../../../spans/Fancy/Fancy.astro";
import our_services from "./our_services.png";
---

<article class="our">
  <div class="wrapper1">
    <h3>Nuestros<br /><Fancy>Servicios</Fancy></h3>
    <picture>
      <img src={our_services.src} alt="nuestros servicios" />
    </picture>
  </div>
</article>

<style>
  .our {
    .wrapper1 {
      display: grid;
      grid-template-columns: 1fr 40%;
      justify-items: start;

      h3 {
        font-size: 116px;
        line-height: 119px;
        text-align: end;

        span {
          font-size: 66px;
          line-height: 119px;
        }
      }
    }
  }
</style>
