---
import Fancy from "../../../spans/Fancy/Fancy.astro";
import our_services from "./our_services.png";
import SliderOurServices from "./SliderOurServices.astro";
---

<article class="our">
  <div class="wrapper1">
    <SliderOurServices cls="ourSlider" />
    <picture>
      <img class="right-ani" src={our_services.src} alt="nuestros servicios" />
    </picture>
  </div>
</article>

<script></script>

<style>
  .our {
    padding: var(--xl);

    .wrapper1 {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-items: start;
      gap: var(--xl);

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      .ourSlider {
      }

      picture {
        justify-self: end;
        width: 643px;
        height: 601px;
        border-radius: var(--br);

        img {
          border-radius: var(--br);
        }

        @media (max-width: 768px) {
          justify-self: center;
          width: 323px;
          height: 386px;
        }
      }
    }
  }
</style>
