---
import Fancy from "../../../spans/Fancy/Fancy.astro";
import our_services from "./our_services.png";
---

<article class="our">
  <div class="wrapper1">
    <h3 class="left-ani">Nuestros<br /><Fancy>Servicios</Fancy></h3>
    <picture>
      <img class="right-ani" src={our_services.src} alt="nuestros servicios" />
    </picture>
  </div>
</article>

<script></script>

<style>
  .our {
    padding: var(--xl);
    aspect-ratio: 2 / 1;

    .wrapper1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      gap: var(--xl);

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      h3 {
        font-size: 116px;
        line-height: 119px;
        text-align: end;

        @media (max-width: 768px) {
          font-size: 59px;
          line-height: 62px;
        }

        span {
          font-size: 66px;
          line-height: 119px;
          @media (max-width: 768px) {
            font-size: 35px;
            line-height: 62px;
          }
        }
      }

      picture {
        justify-self: end;
        width: 643px;
        height: 601px;
        border-radius: 23px;

        @media (max-width: 768px) {
          justify-self: center;
          width: 323px;
          height: 386px;
        }
      }
    }
  }
</style>
