---
import Banner from "../components/views/aboutus/Banner/Banner.astro";
import NewConnecting from "../components/views/aboutus/Connecting/NewConnecting.astro";
import NewFromTo from "../components/views/aboutus/FromTo/NewFromTo.astro";
import NewLeadership from "../components/views/aboutus/Leadership/NewLeadership.astro";
import NewWeAre from "../components/views/aboutus/WeAre/NewWeAre.astro";
import NewWhoWeAre from "../components/views/aboutus/WhoWeAre/NewWhoWeAre.astro";
import NewWhyWorkWithUs from "../components/views/aboutus/WhyWorkWithUs/NewWhyWorkWithUs.astro";
import Layout2 from "../layouts/Layout2/Layout2.astro";
import { PAGES } from "./pages";
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({
    duration: 1000,
    once: false,
  });
</script>

<Layout2 title={PAGES.about.display}>
  <main class="overflow-hidden max-w-[1600px] ml-auto mr-auto">
    <Banner />
    <div class="p-[var(--xl)]">
      <NewWhoWeAre />
      <NewConnecting />
      <NewFromTo />
      <NewWhyWorkWithUs />
      <NewWeAre />
      <NewLeadership />
    </div>
  </main>
</Layout2>
