---
import Slider from "../components/views/index/Slider/Slider.astro";
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <Slider />

  <div>
    <p class="p">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum non
      dolores nesciunt tempora, sapiente optio maiores minus molestias quae
      tempore in libero, consequatur, suscipit excepturi! Aliquam ex quo esse
      blanditiis?
    </p>
  </div>
</Layout>

<style>
  .content {
    background-color: red;
  }
</style>
