---
import Clients from "../components/views/index/Clients/Clients.astro";
import OurServices from "../components/views/index/OurServices/OurServices.astro";
import Slider from "../components/views/index/Slider/Slider.astro";
import WeAreDiferent from "../components/views/index/WeAreDiferent/WeAreDiferent.astro";
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <div class="index">
    <Slider />
    <Clients />
    <OurServices />
    <WeAreDiferent />
  </div>
</Layout>

<style>
  .index {
    max-width: var(--mw-layout);
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    display: grid;
    gap: var(--lg);

    position: relative;
  }
</style>
