---
import Clients from "../components/views/index/Clients/Clients.astro";
import OurServices from "../components/views/index/OurServices/OurServices.astro";
import Slider from "../components/views/index/Slider/Slider.astro";
import Slider2 from "../components/views/index/Slider2/Slider2.astro";
import WeAreDiferent from "../components/views/index/WeAreDiferent/WeAreDiferent.astro";
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="krekeet">
  <div class="index">
    <Slider />
    <Clients />
    <OurServices />
    <WeAreDiferent />
    <Slider2 />
  </div>
</Layout>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";

  AOS.init({
    duration: 1000, // Duración de la animación en ms
    offset: 300, // Distancia de desplazamiento antes de la animación
  });

  window.addEventListener("load", () => {
    AOS.refreshHard();
  });
</script>

<style>
  .index {
    max-width: var(--mw-layout);
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    display: grid;
    gap: var(--lg);

    position: relative;
  }
</style>
