---
import Slider from "../components/views/index/Slider/Slider.astro";
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <Slider />
  <p class="p">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque similique
    natus minima consequuntur laudantium, saepe corporis, recusandae ipsa vitae
    ab eos quidem quod nostrum ducimus ullam provident libero, sequi alias?
  </p>
</Layout>

<style>
  .p {
    width: 40px;
  }
</style>
