---
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <h1>index</h1>
  <h2>index</h2>
  <h3>index</h3>
  <h4>index</h4>
  <h5>index</h5>
  <h6>index</h6>
</Layout>
