---
import Btn from "../../../components/buttons/Btn/Btn.astro";
import Anchor from "../../../components/hyperlinks/Anchor/Anchor.astro";
import Logo from "../../../components/logos/Logo/Logo.astro";
import Network from "../../../components/navs/Network/Network.astro";
---

<header>
  <nav class="nav">
    <Logo cls="logo" />
    <div class="wrapper">
      <Anchor href="">Sobre Nosotros</Anchor>
      <Anchor href="">Trabajo</Anchor>
      <Anchor href="">Productos</Anchor>
      <Anchor href="">Perspectivas</Anchor>
    </div>
    <Network cls="network" />
    <Btn>Contáctanos</Btn>
  </nav>
</header>

<style>
  header {
    .nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--lg);

      .logo {
        margin-right: auto;
      }

      .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: var(--md);
      }

      .network {
        margin-left: auto;
      }
    }
  }
</style>
