---
import Btn from "../../../components/buttons/Btn/Btn.astro";
import Anchor from "../../../components/hyperlinks/Anchor/Anchor.astro";
import Logo from "../../../components/logos/Logo/Logo.astro";
import Network from "../../../components/navs/Network/Network.astro";
---

<header>
  <nav>
    <Logo />
    <div class="wrapper">
      <Anchor href="">Sobre Nosotros</Anchor>
      <Anchor href="">Trabajo</Anchor>
      <Anchor href="">Productos</Anchor>
      <Anchor href="">Perspectivas</Anchor>
    </div>
    <Network />
    <Btn>Contáctanos</Btn>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;

    nav {
      max-width: 1505px;
      display: flex;
      align-items: center;
      gap: var(--lg);

      .wrapper {
        display: flex;
        gap: var(--md);
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
</style>
