---
import Fancy from "../../../components/spans/Fancy/Fancy.astro";
import img_1 from "./img_1.png";
---

<article>
  <div>
    <h2>Nuestros</h2>
    <Fancy>Servicios</Fancy>
  </div>
  <img src={img_1.src} alt="img 2" />
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr auto;
    div {
      h2 {
        font-size: 116px;
      }
      span {
        font-size: 66px;
      }
    }
  }
</style>
