<section id="fromto" class="flex flex-col justify-center h-[795px] my-[var(--xxl)] relative">
  <div class="flex flex-col xl:flex-row justify-center">
    <!-- LG o menor -->
    <div class="flex xl:hidden flex-col justify-center items-center w-full text-center xl:pl-24">
      <div style="background-image: url('/src/views/aboutus/FromTo/assets/1.png'); background-position: center;" class="xl:hidden w-[450px] h-[450px] xl:w-[650px] xl:h-[650px] rounded-[38px] relative bottom-[20px]"></div>
    </div>
    <div id="fromto-lg-1" class="xl:hidden flex flex-col justify-center w-full text-start">
      <div id="fromto-lg-text-1" class="fromto-container-fade-1 absolute ">
        <div class="flex flex-col">
          <span class="text-justify font-medium text-[30px] relative fromto-left-right-text top-[20px]">
            Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la República Dominicana y socios estratégicos en 
            Latinoamérica, USA, Europa y Asia.
          </span>
        </div>
      </div>
      <div id="fromto-lg-text-2" class="opacity-0">
        <span class="text-justify font-medium text-[30px] relative fromto-left-right-text top-[20px]">
          Logrando avances con clientes nacionales e internacionales; desarrollando estrategias y productos los cuales nos han permitido destacar en el 
          mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.
        </span>
      </div>
    </div>

    <!-- XL -->
    <div id="fromto-xl" class="hidden xl:flex flex-col justify-center items-center xl:items-stretch w-full text-center xl:pl-24">
      <div style="background-image: url('/src/views/aboutus/FromTo/assets/1.png'); background-position: center;" class="w-[350px] h-[350px] xl:w-[650px] xl:h-[650px] rounded-[38px]"></div>
    </div>
    <div class="hidden xl:flex flex-col justify-center w-full text-start pr-24">
      <div class="fromto-container-fade-1 absolute transition-all duration-500">
        <div id="fromto-xl-text-1" class="flex flex-col">
          <span class="font-semibold text-[55px] leading-[0px]">De <span class="text-[var(--primary)]">República Dominicana</span></span><br>
          <span class="font-medium text-[55px]">Para el <span class="text-[var(--primary)]">Mundo</span></span>
          <span class="text-justify font-medium text-[30px]">
            Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la República Dominicana y socios estratégicos en 
            Latinoamérica, USA, Europa y Asia.
          </span>
        </div>
      </div>
      <div id="fromto-xl-text-2" class="hidden">
        <span class="text-justify font-medium text-[30px]">
          Logrando avances con clientes nacionales e internacionales; desarrollando estrategias y productos los cuales nos han permitido destacar en el 
          mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.
        </span>
      </div>
    </div>
  </div>
</section>

<script>
  import ScrollMagic from "scrollmagic";
  import { gsap } from "gsap";

  const fromto = document.querySelector("#fromto") as HTMLElement

  // Crear controlador de ScrollMagic
  const controller = new ScrollMagic.Controller();

  // Configurar la animación de los textos
  const scene = new ScrollMagic.Scene({
    triggerElement: "#fromto", // Elemento donde se inicia la escena
    duration: "100%", // Duración de la pausa del scroll
    triggerHook: 0.50, // Punto de disparo (en este caso, en el centro)
    offset: (fromto.getBoundingClientRect().height / 2)
  })
  .setPin("#fromto") // Fija el elemento durante la duración
  .on("progress", (event) => {
    const xl = window.getComputedStyle(document.querySelector("#fromto-xl")!).display === "flex";
    if (scene.progress() > .5) {
      // Cambia al segundo texto cuando la escena empieza
      gsap.to(xl? "#fromto-xl-text-1" : "#fromto-lg-text-1", { opacity: 0, duration: 0.5, display: "hidden" });
      gsap.to(xl? "#fromto-xl-text-2" : "#fromto-lg-text-2", { opacity: 1, duration: 0.5, display: "block" });
    }
  })
  .on("leave", () => {
    const xl = window.getComputedStyle(document.querySelector("#fromto-xl")!).display === "flex";
    if (scene.state() === "BEFORE") {
      // Regresa al primer texto al salir de la escena
      gsap.to(xl? "#fromto-xl-text-1" : "#fromto-lg-text-1", { opacity: 1, duration: 0.5, display: "flex" });
      gsap.to(xl? "#fromto-xl-text-2" : "#fromto-lg-text-2", { opacity: 0, duration: 0.5, display: "hidden" });
    } else if (scene.state() === "AFTER") {
      gsap.to(xl? "#fromto-xl-text-1" : "#fromto-lg-text-1", { opacity: 0, duration: 0.5, display: "hidden" });
      gsap.to(xl? "#fromto-xl-text-2" : "#fromto-lg-text-2", { opacity: 1, duration: 0.5, display: "block" });
    }
    
  })
  .addTo(controller);
</script>