---
import Logo from "../../../logos/Logo/Logo.astro";
import Fancy from "../../../spans/Fancy/Fancy.astro";
import perspectives from "./perspectives.mp4";
---

<div>
  <video autoplay muted loop src={perspectives}></video>
  <span class="wrapper_txts">
    <span class="wrapper_logo">
      <Logo cls="logo" />
      <span>Canales</span>
    </span>
    <h1 class="title">
      <Fancy>Infórmate</Fancy> en nuestros
      <Fancy>canales</Fancy> de <Fancy>difusión</Fancy>
    </h1>
  </span>
</div>

<style>
  div {
    position: relative;
    max-width: 1600px;
    height: calc(100vh - var(--h-nav) - var(--xl));
    width: 100%;
    aspect-ratio: 1600 / 974;
    margin-top: var(--xl);

    @media (max-width: 768px) {
      height: calc(100vh);
    }

    video {
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      object-fit: cover;

      border-radius: var(--br);

      @media (max-width: 1600px) {
        border-radius: 0;
      }
    }

    .wrapper_txts {
      padding: 0 var(--xl);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;

      .wrapper_logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--md);
        font-size: 32px;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      .title {
        font-size: 116px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
    }
  }
</style>
