<section data-aos="fade" id="whoweare" class="flex flex-col justify-center h-[795px] my-[var(--xxl)]">
  <!-- default -->
  <div id="whoweare-default" class="sm:hidden md:hidden lg:hidden xl:hidden flex flex-col items-center py-12">
    <div class="flex flex-row justify-center w-full border-b-[1px] border-b-[var(--primary)]">
      <div class="flex flex-col w-fit pb-6">
        <span class="font-bold text-[59px] leading-[41px]">Quiénes</span>
        <span data-aos="fade-down-left" class="font-bold text-[35px] leading-[41px] text-right text-[var(--primary)]">somos?</span>
      </div>
    </div>
    <div class="flex flex-row justify-center w-full border-t-[1px] border-t-[var(--primary)]">
      <div class="flex flex-col w-fit pt-6">
        <span class="font-normal text-[14px] leading-[27px] text-center">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</span>
      </div>
    </div>
  </div>
  
  <!-- sm -->
  <div id="whoweare-sm" class="hidden sm:flex md:hidden flex-col items-center py-12">
    <div class="flex flex-row justify-center w-full border-b-[1px] border-b-[var(--primary)]">
      <div class="flex flex-col w-fit pb-6">
        <span class="font-bold text-[73px] leading-[60px]">Quiénes</span>
        <span data-aos="fade-down-left" class="font-bold text-[43px] leading-[60px] text-right text-[var(--primary)]">somos?</span>
      </div>
    </div>
    <div class="flex flex-row justify-center w-full border-t-[1px] border-t-[var(--primary)]">
      <div class="flex flex-col w-fit pt-6">
        <span class="font-normal text-[18px] leading-[30px] text-center">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</span>
      </div>
    </div>
  </div>

  <!-- md -->
  <div id="whoweare-md" class="hidden md:flex lg:hidden flex-col items-center py-12">
    <div class="flex flex-row justify-center w-full border-b-[1px] border-b-[var(--primary)]">
      <div class="flex flex-col w-fit pb-6">
        <span class="font-bold text-[87px] leading-[79px]">Quiénes</span>
        <span data-aos="fade-down-left" class="font-bold text-[51px] leading-[79px] text-right text-[var(--primary)]">somos?</span>
      </div>
    </div>
    <div class="flex flex-row justify-center w-full border-t-[1px] border-t-[var(--primary)]">
      <div class="flex flex-col w-fit pt-6">
        <span class="font-normal text-[23px] leading-[34px] text-center">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</span>
      </div>
    </div>
  </div>

  <!-- lg -->
  <div id="whoweare-lg" class="hidden lg:flex xl:hidden flex-row items-center py-12">
    <div class="flex flex-col justify-center w-full border-r-[1px] border-r-[var(--primary)]">
      <div class="flex flex-col w-fit">
        <span class="font-bold text-[102px] leading-[100px]">Quiénes</span>
        <span data-aos="fade-down-left" class="font-bold text-[58px] leading-[100px] text-[var(--primary)] text-right">somos?</span>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center w-full h-full border-l-[1px] border-l-[var(--primary)]">
      <span class="font-bold text-[28px] leading-[38px] text-center pl-[var(--lg)]">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</span>
    </div>
  </div>
  
  <!-- xl -->
  <div id="whoweare-xl" class="hidden xl:flex flex-row items-center py-12">
    <div class="flex flex-col justify-center w-full border-r-[1px] border-r-[var(--primary)]">
      <div class="flex flex-col w-fit">
        <span class="font-bold text-[116px] leading-[119px]">Quiénes</span>
        <span data-aos="fade-down-left" class="font-bold text-[66px] leading-[119px] text-[var(--primary)] text-right">somos?</span>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center w-full h-full border-l-[1px] border-l-[var(--primary)]">
      <span class="font-bold text-[32px] leading-[41px] text-center pl-[var(--xl)]">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</span>
    </div>
  </div>
</section>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({
    duration: 1000,
    once: false
  })
</script>