---
interface Props {
  href: string;
  cls?: string[];
}

const { href } = Astro.props;
const { href: currentRoute } = Astro.url;
const { cls } = Astro.props;

const isActive = currentRoute === href;
---

<a href={href} class:list={[cls, { isActive }]}>
  <slot />
</a>

<style>
  a {
    color: inherit;
    border-radius: var(--sm);

    &:hover {
      color: var(--primary);
    }
  }

  .isActive {
    color: var(--primary);
  }
</style>
