---
import emociones from "./emociones.avif";
import conectamos from "./conectamos.avif";
import restructuramos from "./restructuramos.svg";
import tuIdea from "./tu_idea.svg";
import Fancy from "../../../spans/Fancy/Fancy.astro";
---

<section class="wrapperSlider2">
  <div
    class="splide slider2"
    role="group"
    aria-label="carrusel filosofias"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <div class="splide__track track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="card">
            <picture>
              <img src={emociones.src} alt="en el negocio de las emociones" />
            </picture>
            <div class="content">
              <h6>En el negocio de<br /><Fancy>las emociones</Fancy></h6>
              <p>
                Todos nuestros logros están enfocados en una cultura en la cual
                centramos talento y sus habilidades en un propósito.
              </p>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="card">
            <picture>
              <img src={conectamos.src} alt="no vendemos, conectamos" />
            </picture>
            <div class="content">
              <h6>No vendemos<br /><Fancy>Conectamos</Fancy></h6>
              <p>
                Logrando ganar el juego conectando necesidades y deseo con un
                producto.
              </p>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="card">
            <picture>
              <img src={tuIdea.src} alt="tu idea es nuestra" />
            </picture>
            <div class="content">
              <h6>Tu idea<br /><Fancy>Es la nuestra</Fancy></h6>
              <p>
                Creemos en la creatividad colectiva, en la cual todo proceso
                debe ser mejorado, sin un limite en nuestra capacidad.
              </p>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="card">
            <picture>
              <img src={restructuramos.src} alt="estructuramos y fomentamos" />
            </picture>
            <div class="content">
              <h6>Restructuramos<br /><Fancy>y Fomentamos</Fancy></h6>
              <p>
                Formamos estrategias estructuradas para lograr relaciones
                fuertes y duraderas con nuestros clientes.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  import "@splidejs/splide/css/core";
  import Splide from "@splidejs/splide";

  const splide = new Splide(".slider2", {
    type: "slide",
    drag: "free",
    perPage: 2,
    pagination: false,
    arrows: false,
    gap: 32,
    wheel: true,
    releaseWheel: true,
    padding: { left: 32, right: 64 },
    breakpoints: { 768: { perPage: 1 } },
  });

  splide.mount();
</script>

<style>
  .wrapperSlider2 {
    display: grid;
    place-content: center;
    overflow: hidden;
    margin: var(--xl3) 0;

    .slider2 {
      .track {
        border: var(--br);
        .card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: start;

          width: 100%;
          height: 100%;

          @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 220px;
          }

          picture {
            width: 100%;
            height: 100%;

            border-radius: var(--br);

            img {
              border-radius: var(--br);
            }
          }

          .content {
            display: grid;
            gap: var(--md);
            padding: var(--lg);

            h6 {
              font-size: 34px;
              @media (max-width: 768px) {
                font-size: 20px;
              }
            }
            p {
              font-size: 20px;
              text-align: justify;

              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
</style>
