@keyframes liderazgo-in {
  0% { font-size: 100px; }
  100% { font-size: 63px; }
}
@keyframes liderazgo-out {
  0% { font-size: 63px; }
  100% { font-size: 100px; }
}

@keyframes card-go-front {
  0% {
    z-index: 0;
    transform: translate(40%, -20px);
    opacity: .33;
    cursor: pointer;
  }
  100% {
    z-index: 1;
    transform: translate(0, 0);
    opacity: 1;
    cursor: default;
  }
}

@keyframes card-go-back {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(40%, -20px);
    opacity: .33;
  }
}