---
import Fancy from "../../../spans/Fancy/Fancy.astro";
import desarrollo_marcas_y_estrategias from "./desarrollo_marcas_y_estrategias.avif";
---

<section>
  <h2 data-aos="fade-right">
    <Fancy>Desarrollo</Fancy> de Marca y <Fancy>Estrategias</Fancy> Objetivas <Fancy
      >DQSA</Fancy
    > S.A.S
  </h2>
  <picture>
    <img
      data-aos="fade-left"
      src={desarrollo_marcas_y_estrategias.src}
      alt="desarrollo de marca"
    />
  </picture>
</section>

<style>
  section {
    display: grid;
    gap: var(--xl);
    grid-template-columns: 1fr 40%;
    align-items: center;

    h2 {
      font-size: 60px;
    }

    picture {
      img {
      }
    }

    @media (max-width: 1085px) {
      grid-template-columns: 1fr;

      h2 {
        font-size: 24px;
      }
    }
  }
</style>
